:root{
    --primary-color: #FBBF24;
    --bg1: #F59E0B;
    --bg2: #1E40AF;
    --outputtxt: #FDE68A;
}


body{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-family: cursive;
    overflow: hidden;
}

#wrapper{
    margin-top: -3%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, var(--bg1), var(--bg2) );
}

.head{
    width: 100%;
    margin: auto;
    height: 10vh;
    background-color: var(--primary-color);
}

.head h1{
    display: block;
    text-align: center;
    padding-top: 10px;
}

h3{
    display: block;
    text-align: left;
    margin-left: 380px;
}

#txtInput{
    display: block;
    text-align: center;
    width: 600px;
    margin: auto;
    height: 20vh;
    margin-top: 10px;
    border-radius: 20px;
}

#txtInput::placeholder{
    font-size: larger;
    font-weight: bold;
    color: rgb(21, 9, 78);
}

#btnTranslate{
    display: block;
    text-align: center;
    width: 350px;
    margin: auto;
    height: 35px;
    margin-top: 15px;
    border-radius: 20px;
    background-image: linear-gradient(to left, var(--bg1), var(--bg2));
}

#btnTranslate p{
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
}

#output-div{
    display: block;
    text-align: center;
    width: 600px;
    margin: auto;
    height: 20vh;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--outputtxt);
}

footer{
    width: 100%;
    margin: auto;
    height: 20vh;
    background-color: var(--primary-color);
}

footer p{
    font-size: x-large;
    font-weight: bold;
    color: var(--bg2);
}