body{
    background-image: linear-gradient(to right,blue, yellow);
}


h1 {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    color: #FBBF24;
    background: black;
    border-radius: 2rem 2rem;
    padding: 1rem 1rem;
}


#txtInput {
    width: 30%;
    display: block;
    height: 10vh;
    padding: 1rem;
    background: black;
    background-color: #FEF3C7;
}

#btnTranslate {
    margin: 2rem 9rem;
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
    width: 300px;
    height: 70px;
    border-radius: 0% 0 110% 80px;
    background: black;
    background-color: yellow;
}

.minion {
    width: 340px;
    height: 450px;
    float: right;
    position: relative;
    top: -400px;
    right: 230px;
}

.bananaTop {
    width: 85px;
    height: 3vh;
    background-color: brown;
    border-radius: 10px 0 0 700px;
    position: absolute;
    display: flex;
    top: 280px;
    left: 85px;
    z-index: -1;
}

.text {
    position: relative;
    bottom: -230px;
    right: 625px;
    font-size: x-large;
    padding: 0.5rem;
    float: right;
}

.minion1{
    max-width: 240px;
    position: relative;
    left: 200px;
}

#outputDiv {
    position: relative;
    bottom: -150px;
    display: block;
    border: 1px solid black;
    height: 10vh;
    width: 30%;
    padding: 1rem;
    background-color: #FCD34D;
    float: right;
}